<html>
    <head></head>
    <body>
      <div>Hi {{firstName}}
            <h1>Cancellation Confirmation: {{eventTitle}}</h1>
             This email confirms that your registration for {{eventTitle}} has been successfully cancelled. We are sorry to see you go, but we understand that unforeseen circumstances may arise.
      </div>
      <br>
       Thank you,
       <br>
       Peer Pulse Team
    </body>
</html>