<html>
    <head></head>
    <body>
      <div>Hi {{firstName}}
            <h1>Thank you for registering</h1>
             Thank you for registering for {{eventTitle}}! We're excited to have you join us online on {{date}} at {{time}}. Organizer will send the meeting details shortly. </div>
      <br>
       Thank you,
       <br>
       Peer Pulse Team
    </body>
</html>