<html>
    <head></head>
    <body>
      <div>Hi {{firstName}}
            <h3>Peer Pulse Password Reset Request!</h3>
             Please reset your password by clicking the link below:</div>
             <div><a href={{url}}>here</a></div> 
             <div>If you don’t want to reset your password, you can ignore this message - someone probably typed in your username or email address by mistake.</div> 
      <br>
       Thank you,
       <br>
       Peer Pulse Team
    </body>
</html>