<html>
    <head></head>
    <body>
      <div>Hi {{firstName}}
            <h1>Welcome to Peer Pulse!</h1>
             Please verify your email by clicking the link below and become a member now:</div>
             <div><a href={{url}}>here</a></div>
      <br>
       Thank you,
       <br>
       Peer Pulse Team  
    </body>
</html>